body {
    background-image: url(../images/back-ground-shop.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: sans-serif;
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

section {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;
    max-width: 1200px;
    margin-bottom: 100px;
}

.div-shop {
    width: 220px; 
    background-color: aliceblue;
    border: 3px solid #FFBF00;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    transition: 0.3s;
}

.div-shop:hover {
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}


.animal-icon {
    font-size: 80px; 
    margin-bottom: 10px;
    display: block;
}

.div-shop p {
    margin: 5px 0;
}

.details {
    display: block;
    font-size: 14px;
    background-color: #e0e0e0;
    font-style: italic;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.input {
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 20px;
    transition: 0.5s;
}

.input:hover {
    background-color: lightgreen;
    transform: scale(1.1);
}
#search {
    Display:Block;
    Margin-bottom:50px;
    border-radius:3px;
    Border:2px solid black;
    width: 40%;
    height: 20px;
}
#search:hover{
    border-color: #FFBF00;
    transform: scale(107%);
}
.p-shop{
    display: block;
    width: 50%;
    margin-bottom:50px;
    font-family: georgia,serif;
    position: relative;
    font-size: 80px;
    font-weight: bold;
    color: #d25816;
    justify-content: left;
    margin-top: 20px;

}
/* تعريف حركة الظهور والصعود */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* الكلاس الذي سيتم إضافته للجافا سكريبت */
.animate-card {
    animation: fadeInUp 0.6s ease-out forwards;
}