:root {
    --main-green: #9edab7;
    --dark-green: #305f27;
    --border-color: #ddd;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    display: flex;
    width: 900px;
    height: 550px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(6, 51, 175, 0.7);
    overflow: hidden;
}

/* الجزء الأيسر */
.welcome-section {
    flex: 1;
    background: url(cat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}